/* :root {
  --bg-color-white: #ffffff;
  --bg-color-grey: #eff1f3;
  --bg-color-blue: #284060;

  --text-color-white: #ffffff;
  --text-color-grey: #999daa;
  --text-colot-darkgrey: #838a9a;
  --text-color-black: #212121;
  --text-color-orange: #fc842c;

  --callories-color: #284060;
  --scroll-thumb: #284060;

  --input-line-color: #e5e5e5;

  --button-color: #fc842c;
  --button-color-hover: #f47929;
  --button-icon-color: #fff;
  --button-icon-color-hover: #fff;


  --logo-fonts: 'GothamProLight', Verdana, sans-serif;
  --bold-fonts: 'GothamProBold', Verdana, sans-serif;
  --black-fonts: 'GothamProBlack', Verdana, sans-serif;
  --light-fonts: 'GothamProLight', Verdana, sans-serif;
} */
