.navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(108, 226, 214);
  min-height: 100px;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 100px;
}
